<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Release</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <datalist id="list_artists">
        {{range .Artists}}
            <option value="{{.}}" />
        {{end}}
    </datalist>
    <datalist id="list_labels">
        {{range .Labels}}
        <option value="{{.}}" />
        {{end}}
    </datalist>
    <datalist id="list_titles">
        {{range .Titles}}
        <option value="{{.}}" />
        {{end}}
    </datalist>
    <datalist id="list_releases">
        {{range .Releases}}
        <option value="{{.}}" />
        {{end}}
    </datalist>
    <form action="?action=add" method="POST">
        <table>
            <tbody>
                <tr>
                    <td>Artist:</td>
                    <td>
                        <input name="artist" type="text" list="list_artists" placeholder="Artist" />
                    </td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>
                        <input name="title" type="text" list="list_titles" placeholder="Title" />
                    </td>
                </tr>
                <tr>
                    <td>Label:</td>
                    <td>
                        <input name="label" type="text" list="list_labels" placeholder="Label" />
                    </td>
                </tr>
                <tr>
                    <td>Release:</td>
                    <td>
                        <input name="release" type="text" list="list_releases" placeholder="Release" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit">Add</button>
    </form>
</body>

</html>